.section-2 {
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.right {
  width: 50vw;
}
.left {
  clip-path: circle(65% at 50% 50%);
  background-image: url(/src/assets/erfanaalam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 400px;
  margin-top: 60px;
}

.about {
  font-size: 4rem;
  text-align: center;
  gap: 40px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgb(30, 140, 199);
}

.summary {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.btn {
  width: 160px;
  height: 70px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  background: rgb(31, 36, 39);
  cursor: pointer;
  transition: all 1s;
  transition: ease-out 0.4s;
}

.btn:hover {
  box-shadow: inset 300px 0 0 0 rgb(30, 140, 199);
}

span {
  font-weight: bold;
  color: rgb(30, 140, 199);
}


@media screen and (max-width: 768px) {
  .section-2 {
    flex-direction: column;
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
    margin: 50px 0;
  }

  .right {
    width: 90vw;
    margin-top: 40px;
  }

  .left {
    clip-path: circle(65% at 50% 50%);
    background-image: url(/src/assets/erfanaalam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    margin-top: 60px;
    margin-left: 10px;
  }
  
  .about {
    font-size: 2rem;
    text-align: center;
    gap: 40px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(30, 140, 199);
  }
  
  .summary {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  
  .btn {
    width: 130px;
    height: 70px;
    border-radius: 10px;
    font-size: 18px;
    background: rgb(31, 36, 39);
    cursor: pointer;
    transition: all 1s;
    transition: ease-out 0.4s;
  }
  
  .btn:hover {
    box-shadow: inset 300px 0 0 0 rgb(30, 140, 199);
  }
  
  span {
    font-weight: bold;
    color: rgb(30, 140, 199);
  }
  

}

